@import 'tailwindcss';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.btn {
  @apply inline-flex px-4 py-2 rounded-md space-x-2 font-semibold text-sm transition-colors ease-in-out duration-300 cursor-pointer;
}

.btn-primary {
  @apply bg-blue-500 text-white focus:bg-blue-600 hover:bg-blue-600;
}

.btn-secondary {
  @apply bg-gray-300 text-gray-800 focus:bg-gray-400 hover:bg-gray-400;
}

.btn-transparent {
  @apply text-gray-500 focus:text-gray-700 hover:text-gray-700 hover:bg-gray-300;
}

.btn-danger {
  @apply bg-red-500 text-white focus:bg-red-600 hover:bg-red-600;
}

.btn-sm {
  @apply px-3 py-1 text-xs;
}

.form-input {
  @apply block shadow-sm rounded-md border border-gray-400 outline-hidden px-3 py-2 mt-2 w-full;
}
