<% content_for :title, t("organizations.invitations.index.title") %>

<%= render "organizations/memberships/tabs", active_tab: :invitations do %>
  <%= render PageComponent.new(title: t("organizations.invitations.index.title")) do |component| %>
    <div id="invitations" class="space-y-4">
      <% @invitations.each do |invitation| %>
        <%= render invitation, invitation: %>
      <% end %>
    </div>
  <% end %>
<% end %>
