<div class="border p-4 rounded-lg flex items-center justify-between gap-2 hover:bg-gray-100">
  <div class="flex items-center gap-2">
    <%= "Organization: #{invitation.organization.name}" %>
    <br>
    <%= "Role: #{invitation.organization_role}" %>
  </div>

  <div class="flex items-center gap-4">
    <div class="flex items-center gap-1">
      <%= button_to t("invitations.buttons.approve"), approve_user_invitation_path(invitation), method: :post, class: "du-btn du-btn-primary" %>
      <%= button_to t("invitations.buttons.reject"), reject_user_invitation_path(invitation), method: :post, class: "btn btn-danger" %>
    </div>
  </div>
</div>
