<div id="<%= dom_id account_user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= account_user.account.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= account_user.user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= account_user.role %>
  </p>

</div>
