<% content_for :title, t(".title") %>

<%= render PageComponent.new(title: t(".title")) do |component| %>
  <% component.with_action_list do %>
    <%= link_to t("organizations.memberships.new.title"), new_organization_membership_path(@organization), class: "btn btn-primary" if policy(@organization.memberships.new).new? %>
  <% end %>

  <div id="memberships" class="space-y-4">
    <% @memberships.each do |membership| %>
      <%= render membership %>
    <% end %>
  </div>
<% end %>
