<% content_for :title, t(".title") %>

<%= render "organizations/memberships/tabs", active_tab: :memberships %>

<%= render PageComponent.new(title: t("organizations.memberships.index.title"), full_width: true) do |component| %>
  <% component.with_action_list do %>
    <%= link_to t("organizations.memberships.new.title"), new_organization_invitation_path(@organization), data: { turbo_frame: :modal }, class: "du-btn du-btn-primary" if policy(@organization.memberships.new).new? %>
  <% end %>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4">
    <%= render collection: @memberships, partial: "organizations/memberships/membership", as: :membership %>
  </div>
<% end %>
