<%= turbo_frame_tag :modal do %>
  <dialog class="du-modal du-modal-end transition-none" data-controller="dialog" data-action="click->dialog#clickOutside turbo:submit-end->dialog#hideOnSubmit">
    <div class="du-modal-box">
      <form method="dialog" class="absolute right-4 top-4">
        <button class="du-btn du-btn-ghost du-btn-sm">
          <%= inline_svg_tag "svg/x-mark.svg", class: "size-6 pointer-events-none" %>
        </button>        
      </form>
      <%= yield %>
    </div>
  </dialog>
<% end %>
