<% if object.errors.any? %>
  <div
    id="error_explanation"
    class="alert alert-error"
    data-turbo-cache="false"
  >
    <div>
      <h2>
        <%= t("errors.messages.not_saved", count: object.errors.count, resource: object.class.model_name.human) %>
      </h2>

      <ul>
        <% object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
