<footer class="p-4 text-center border-t">
  <div>
    <%= active_link_to 'Pricing', pricing_path %>
    <%= active_link_to 'Terms', terms_path %>
    <%= active_link_to 'Privacy', privacy_path %>
  </div>

  <div>
    &copy; <%= Time.now.year %>
    Your Company Name. All rights reserved.
  </div>
</footer>
