<footer class="p-4 text-center border-t">
  <div>
    <%= active_link_to "Pricing", pricing_path, class: 'nav-link' %>
    <%= active_link_to "Terms", terms_path, class: 'nav-link' %>
    <%= active_link_to "Privacy", privacy_path, class: 'nav-link' %>
  </div>

  <div>
    &copy; <%= Time.now.year %>
    Your Company Name. All rights reserved.
  </div>
</footer>
