<footer class="p-4 text-center border-t space-y-2">
  <div>
    <%= active_link_to "Terms", terms_path, class_active: "bg-gray-200", class: "du-btn du-btn-ghost" %>
    <%= active_link_to "Privacy", privacy_path, class_active: "bg-gray-200", class: "du-btn du-btn-ghost" %>
  </div>

  <div>
    &copy; <%= Time.now.year %>
    <%= Rails.application.config_for(:settings).dig(:site, :name) %>. All rights reserved.
  </div>
</footer>
