<%= active_link_to organization_inboxes_path(@organization), class_active: "bg-gray-300", class: "w-full items-center btn btn-transparent" do %>
  <div>
    <%= inline_svg_tag "svg/question-mark-circle.svg", class: "size-5" %>
  </div>
  <div>
    Inboxes
  </div>
<% end %>
