<%= active_link_to organization_dashboard_path(@organization), class_active: "bg-gray-200", class: "w-full items-center btn btn-transparent" do %>
  <div>
    <%= inline_svg_tag "svg/home.svg", class: "size-5" %>
  </div>
  <div>
    Dashboard
  </div>
<% end %>
<%= active_link_to organization_inboxes_path(@organization), class_active: "bg-gray-200", class: "w-full items-center btn btn-transparent" do %>
  <div>
    <%= inline_svg_tag "svg/question-mark-circle.svg", class: "size-5" %>
  </div>
  <div>
    Inboxes
  </div>
<% end %>
