<div class="border p-4 rounded-lg flex items-center justify-between gap-2 hover:bg-primary/10">
  <div class="flex items-center gap-2">
    <%= "User email: #{invitation.user.email}" %>
    <br>
    <%= "Role: #{invitation.organization_role}" %>
  </div>

  <div class="flex items-center gap-4">
    <div class="flex items-center gap-1">
      <%= button_to t("organizations.invitations.buttons.cancel"), organization_invitation_path(invitation.organization, invitation), method: :delete, class: "du-btn du-btn-error" %>
    </div>
  </div>
</div>
