<% content_for :title, t(".title") %>

<%= render "organizations/tabs", active_tab: :requests do %>
  <%= render PageComponent.new(title: t("shared.navigation.pending_requests"), full_width: true) do %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <% @organizations.each do |organization| %>
        <%= render "organizations/organization", organization: organization %>
      <% end %>
    </div>
  <% end %>
<% end %>
