<div id="<%= dom_id project %>">
  <p class="">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= project.name %>
  </p>

  <p class="">
    <strong class="block font-medium mb-1">Organization:</strong>
    <%= project.organization_id %>
  </p>

</div>
