<% content_for :title, "Projects" %>

<%= render PageComponent.new(title: "Projects") do |component| %>
  <% component.with_action_list do %>
    <%= link_to t("shared.actions.new"), new_organization_project_path(@organization), data: { turbo_frame: :modal }, class: "du-btn du-btn-primary" %>
  <% end %>

  <div id="projects" class="space-y-4">
    <% @projects.each do |project| %>
      <%= render project %>
      <p>
        <%= link_to "Show this project", [ @organization, project ], class: "du-btn du-btn-primary" %>
      </p>
    <% end %>
  </div>
<% end %>
