<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @project %>

    <%= link_to "Edit this project", [ :edit, @organization, @project ], data: { turbo_frame: :modal }, class: "du-btn du-btn-primary" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this project", [ @organization, @project ], method: :delete, class: "du-btn du-btn-error" %>
    </div>
  </div>
</div>
