# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: <%= secret_key_base %>

# oauth
google_oauth2:
  client_id: ''
  client_secret: ''
github:
  key: ''
  secret: ''
telegram:
  bot_nickname: ''
  bot_secret: ''

stripe:
  private_key: sk_
  public_key: pk_
  webhook_receive_test_events: true
  signing_secret:
  - whsec_
