<div class="border border-base-content/20 p-2 rounded-lg space-y-2">
  <div class="font-medium flex items-center gap-2">
    <%= user_avatar(membership_request.user) %>
    <%= membership_request.user.email %>
  </div>

  <div class="flex items-center justify-end gap-2">
    <%= button_to t("membership_requests.buttons.reject"), reject_organization_membership_request_path(@organization, membership_request), method: :post, class: "du-btn du-btn-sm du-btn-error" %>
    <%= button_to t("membership_requests.buttons.approve"), approve_organization_membership_request_path(@organization, membership_request), method: :post, class: "du-btn du-btn-sm du-btn-primary" %>
  </div>
</div>
