<% content_for :title, t("membership_requests.index.title") %>

<%= render PageComponent.new(title: t("membership_requests.index.page_title", organization: @organization.name)) do |component| %>
  <div id="membership_requests" class="space-y-4">
    <% @membership_requests.each do |membership_request| %>
      <%= render membership_request, membership_request: %>
    <% end %>
  </div>
<% end %>