<div class="border border-base-content/20 p-3 rounded-lg flex items-center justify-between hover:bg-base-200">
  <div class="flex items-center gap-3">
    <div class="text-2xl">
      <%= ConnectedAccount::PROVIDER_CONFIG[connected_account.provider.to_sym][:icon] %>
    </div>
    <div>
      <div class="font-medium">
        <%= ConnectedAccount::PROVIDER_CONFIG[connected_account.provider.to_sym][:name] %>
      </div>
      <div class="text-sm text-base-content/70">
        Connected <%= time_ago_in_words(connected_account.created_at) %> ago
      </div>
    </div>
  </div>
  
  <div class="flex items-center gap-2">
    <%= button_to "Disconnect", user_connected_account_path(connected_account), 
        method: :delete, 
        data: { turbo_confirm: "Are you sure you want to disconnect this account?" },
        class: "du-btn du-btn-sm du-btn-error" %>
  </div>
</div> 