.pagy {
  @apply flex space-x-1 font-medium text-sm;
  a:not(.gap) {
    @apply btn btn-sm btn-outline;
    &:hover {
      @apply btn-active;
    }
    &:not([href]) {
      /* disabled links */
      @apply btn opacity-50 cursor-not-allowed btn-sm;
    }
    &.current {
      @apply btn btn-sm btn-primary;
    }
  }
  label {
    @apply flex flex-col w-full;
    input {
      @apply input border border-base-300 rounded-md input-sm w-16;
    }
  }
}
