<%= render PageComponent.new(title: t(".title")) do %>
  <h2 class="text-2xl font-bold mb-4">
    Cancellations
  </h2>
  <p>
    You can cancel your subscription at any time. No questions asked. Subscription will be active until the end of the billing cycle.
  </p>

  <h2 class="text-2xl font-bold mb-4">
    Refunds
  </h2>
  <p>
    The subscription is non-refundable. If you cancel your subscription, you will not be refunded for the remaining days of the billing cycle.
  </p>
<% end %>