<% content_for :title, t("organizations.index.title") %>

<%= render PageComponent.new(title: t("organizations.index.title")) do |component| %>
  <% component.with_action_list do %>
    <%= link_to t("shared.actions.new"), new_organization_path, data: { turbo_frame: :modal }, class: "du-btn du-btn-primary" %>
  <% end %>

  <div id="organizations" class="space-y-4">
    <% @organizations.each do |organization| %>
      <%= render organization %>
    <% end %>
  </div>
<% end %>
