<div id="<%= dom_id account_user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= account_user.user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= account_user.role %>
  </p>

  <div class="inline-block">
    <%= button_to 'Remove', account_account_user_path(account_user.account, account_user), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>
