<% content_for :title, t("invitations.index.title") %>

<%= render PageComponent.new(title: t("invitations.index.title")) do |component| %>
  <div id="invitations" class="space-y-4">
    <% @invitations.each do |invitation| %>
      <%= render invitation, invitation: %>
    <% end %>
  </div>
<% end %>
