<% content_for :title, t(".title") %>

<%= render "organizations/tabs", active_tab: :invitations do %>
  <%= render PageComponent.new(title: t("invitations.index.title"), full_width: true) do |component| %>
    <div id="invitations" class="space-y-4">
      <% @invitations.each do |invitation| %>
        <%= render invitation, invitation: %>
      <% end %>
    </div>
  <% end %>
<% end %>
