<%= render PageComponent.new(title: "Features") do %>
  <dl class="space-y-2">
    <% Rails.application.config_for(:settings)[:pro_features].map do |feature| %>
      <div>
        <%= feature %>
      </div>
    <% end %>
  </dl>
<% end %>
