<%= render SectionComponent.new(title: t("organizations.subscriptions.features.title"), full_width: false) do %>
  <ul class="space-y-2">
    <% Rails.application.config_for(:settings)[:pro_features].map do |feature| %>
      <li><%= feature %></li>
    <% end %>
  </ul>
<% end %>
