<!DOCTYPE html>
<html lang="en" class="h-full bg-base-100 text-base-content">
  <head>
    <%= render "layouts/head" %>
    <meta name="turbo-visit-control" content="reload">
  </head>

  <body class="flex h-dvh">
    <main class="flex-grow overflow-y-auto flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
