<div id="<%= dom_id inbox %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= inbox.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= inbox.account_id %>
  </p>

</div>
